<mat-drawer-container class="container">

    <h2>Summary</h2>

    <mat-table [dataSource]="statsByYear$">

        <ng-container matColumnDef="year">
            <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.year }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="attendence">
            <mat-header-cell *matHeaderCellDef>Students</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.students.length }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="gpa">
            <mat-header-cell *matHeaderCellDef>GPA</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.averageGpa | number : '1.2-2' }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row mat-ripple *matRowDef="let row; columns: columns;" (click)="selectYear(row.year)"></mat-row>

    </mat-table>

    <mat-drawer #drawer mode="side" position="end" class="drawer">
        <ng-container *ngIf="details$ | async as details">
            <mat-toolbar>
                <span>{{ details.year }} Details</span>
                <span class="spacer"></span>
                <button mat-icon-button (click)="drawer.close()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <mat-list>
                <div mat-subheader>Students</div>
                <mat-list>
                    <mat-list-item *ngFor="let student of details.students">
                        {{ student.name }} ({{ student.gpaByYear.get(details.year) | number : '1.2-2' }})
                    </mat-list-item>
                </mat-list>
            </mat-list>
        </ng-container>
    </mat-drawer>

</mat-drawer-container>
